body {
    margin: 0;
    height: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: gray;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    background: #f1f9ff;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 12px;
}

nav a{
    font-weight: 600;
    padding-right: 11px;
}

nav a:hover{
    color: #146db1;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

